* {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    text-decoration: none;
    vertical-align: baseline;
}

/* TAGS AREA  */

body {
    background: linear-gradient(345deg,rgb(204, 153, 128) 35%,rgb(43, 14, 70));
}

header {
    height: 100vh;
}

nav {
    margin: 30px auto;
}
 
li {
    list-style: none; 
    margin: 10px;
    display: inline;
}


/* CLASS AREA  */


.anc {
    font-size: 200px;
}

.img-menor {
    width: 40%;
}

.header-main {
    background-image: url(img/stars.png);
    background-size: 33%;
    background-position: center;
}

.logo-main {
    display: block;
    width: 33%;
    margin: 0 auto;
}

.slotOne-content {
    transition: 1s;
}

.slotOne-content:hover {
    transform: scale(1.08);
}

.stars-main {
    position: absolute;
    transform: rotate(90deg);
    margin: 0 auto;
}
.description-content {
    height: 100vh;
}

.description-content > .desc {
    padding: 20px 0px;
    margin-top: 20px;   

    text-align: center;
    font-family: 'Lobster';
    color: rgb(255,244,242);
    font-size: 45px;

}

.description-content > p > strong:not(#formatCelular):before{
    content: "☾ ";

}
.description-content > p > #formatCelular{
    font-size: 1.2em;
    font-style: italic;
}

.main-contet {
    display: flex;
    flex-wrap: wrap;
}

.slotOne-content, .slotTwo-content {    
    margin: 60px auto;
}

.img-box {
    cursor: pointer;
    box-shadow: 10px 10px 10px 5px rgba(28, 25, 29, 0.481);
    height: 400px;
    width: 320px;
    flex-grow: 1;
}

.sec-content {
    font-family: 'Lobster';
    color: white;
    text-align: center;
    font-size: 90px;
    padding: auto;

    margin: 20px 0px -35px 0px;
    text-shadow: 0 0 5px black, 0 0 5px black, 0 0 5px black, 0 0 5px black;
}

.main-menu{
    display: inline-flex;
    flex-direction: row;
    justify-content: center;
    gap: 80px;
    width: 100%;

}

.item-menu-a {
    font-family: 'Lobster';
    text-decoration: none;
    color: white;
    text-align: center;
    font-size: 60px;   
    text-shadow: 3px 3px 10px black, -1px -1px 3px white;
    transition: 0.5s;
}

.item-menu-a:hover {
    font-size: 66px;
}

.moon-rodape-header {
    display: block;
    width: 100%;
    height: 200px;
    min-height: 190px;
    background-image: url("img/moon.png");
    background-size: 120px;
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: 60px;
}

.cont-img-descrip {
    display: block;
    margin-top: 60px;
}

.img-box-tw{
    height: 350px;
    
    box-shadow: 10px 10px 10px 5px rgba(28, 25, 29, 0.481);
}


footer {
    width: 100%;
    height: 500px;
}

/* ID AREA  */

#cell-des-desc {
    margin-left: 300px;
    height: 400px;
}

#art-des-desc {
    position: absolute;
    margin-left: 500px;
    margin-top: -50px;
    height: 480px;
}

 /* OTHERS */

 @font-face {
    font-family: 'Lobster';
    src: url(font/Lobster-Regular.ttf);
 }
